a:active, a:hover, a:focus {
	color: #FFB71D;
}
body {
    font:400 15px Lato,sans-serif;
    line-height:1.8;color:#818181
}
h2 {
    font-size:24px;
    text-transform:uppercase;
    color:#303030;
    font-weight:600;margin-bottom:30px
}
h4 {
    font-size:19px;
    line-height:1.375em;
    color:#303030;
    font-weight:400;
    margin-bottom:30px
}
.jumbotron {
    background-color:#2e1a4b;
    color:#fff;
    padding:100px 25px;
    font-family:Montserrat,sans-serif
}
.navbar {
    margin-bottom:0;
    background-color:#093d20;
    z-index:9999;
    border:0;
    font-size:12px!important;
    line-height:1.42857143!important;
    letter-spacing:4px;
    border-radius:0;
    font-family:Montserrat,sans-serif
}
.navbar .navbar-brand,.navbar li a {
    color:#fff!important
}
.navbar-nav li a:hover {
    color:#fff!important;
    background-color:#fff!important
}
.navbar-default .navbar-toggle {
    border-color:transparent;
    color:#fff!important
}
@keyframes slide {
    0%{opacity:0;
        transform:translateY(70%)
    }
    100%{
        opacity:1;
        transform:translateY(0)
    }
}
@-webkit-keyframes slide {
    0%{
        opacity:0;
        -webkit-transform:translateY(70%)
    }
    100%{
        opacity:1;
        -webkit-transform:translateY(0)
    }
}